<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>learning</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app" class="container"> 
            <h1>{{ name }}</h1>
            <h2>daily works</h2>
            <ul>
                <li v-for="(todo, index) in todos"><a href="#" :class="{ complete : todo.complete }" v-on:click.prevent="removeTodo(index)">{{ todo.title }}</a></li>
            </ul>
            <input type="text" class="form-control" v-model="newTodo" placeholder="new work" v-on:keyup.enter="addtodo">
            <hr>
            <h2>DONE</h2>
            <ul>
                <li v-for="(todo, index) in completeTodos"><a href="#" v-on:click.prevent="removeTodo(index)">{{ todo.title }}</a></li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.js"></script>
        <script type="text/javascript">

            let app = new Vue({

                el : '#app',
                data : {
                    newTodo : '',

                    todos : [
                        {title : 'do work 1' , complete : true},
                        {title : 'post some pic on instagram' , complete : false},
                        {title : 'play some WOW' , complete : true}
                        ],

                        firstname : "mohammad",
                        lastname : "shahriyari"
                    

                },
                methods : {
                    addtodo(){
                        if(this.newTodo != ''){
                            this.todos.push(this.newTodo);
                            this.newTodo = '';
                        }
                    },
                    removeTodo(index){
                        this.todos[index].complete = ! this.todos[index].complete;
                    }
                },
                computed : {
                    completeTodos(){
                        return this.todos.filter(todo => todo.complete);
                    },
                    name(){
                        return this.firstname + ' ' + this.lastname;
                    }

                }

            });
        
        </script>
    </body>
</html>